<!DOCTYPE HTML> 
<html lang="en">
<head> 
<meta http-equiv="content-type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
<title>SushiBot</title> 
</head> 

<body>
  <center>
  <h1>SushiBot</h1>
  <p>
    A general-purpose bot developed by Sushi#4347.
  </p> 
  <button onClick="location = 'https://discordapp.com/api/oauth2/authorize?client_id=693325047150149646&permissions=8&scope=bot'">Invite to Server</button>
  <br><br>
  <h2>Commands</h2>
    <b>s?help</b> Displays help message<br>
    <b>s?info</b> Basic bot info<br>
    <b>s?movie [movie/show]</b> Displays info about the given movie or show<br>
    <b>s?weather [location]</b> Weather data for that location<br>
    <b>s?mc [server ip]</b> Displays info about the given server<br>
    <b>s?bazaar</b> Shows profitable bazaar flips<br>
    <b>s?joke</b> Displays a random dad joke<br>
    <b>s?meme</b> Displays a random meme<br>
    <b>s?fact</b> Displays random useless fact<br>
    <b>s?hypixel [user]</b> Hypixel data for the user<br>
    <b>s?item [item]</b> Price data for the item<br>
    <b>s?cat</b> Random cat photo<br>
    <b>s?dog</b> Random dog photo<br>
    <b>s?say [text]</b> Displays the text<br>
  <p>Check out <a href="https://graphbot.sushipython.repl.co">GraphBot</a> as well!</p>
  </center>
</body> 

</html>